@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Lilita+One&family=Pathway+Gothic+One&family=Staatliches&display=swap");
body {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  color: brown;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  height: 90px;
  background-color: whitesmoke;
  margin-bottom: 50px;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

textarea {
  resize: none;
  padding: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
}

textarea:focus {
  outline-color: brown;
}

#userWords,
#wordsToRedact {
  border: 2px solid goldenrod;
  border-radius: 8px;
  margin: 8px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: large;
  color: brown;
}

#redactButton {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Lilita One", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

#redactButton:hover {
  opacity: 0.8;
  cursor: not-allowed;
}

footer {
  margin-top: 50px;
  height: 200px;
  background-color: grey;
}

#logos {
  display: flex;
  text-align: center;
  gap: 60px;
  margin-top: 10px;
}

#webDescription {
  margin: 0;
  font-family: "Cabin", sans-serif;
  color: brown;
}

#secondTextArea {
  display: flex;
}

option,
select {
  font-family: "Lilita One", sans-serif;
  color: white;
}

select {
  display: none;
  background-color: chocolate;
}

#redactWord {
  width: 60px;
  height: 40px;
}

#userChoice {
  display: flex;
  gap: 40px;
}

input {
  display: none;
  height: 30px;
  width: 60px;
  font-family: "Lilita One", sans-serif;
  color: brown;
}

input:focus {
  outline-color: brown;
}

#preset,
#userRedactWord {
  color: grey;
  font-family: "Lilita One", sans-serif;
  font-size: 25px;
}

#preset:hover,
#userRedactWord:hover {
  opacity: 0.8;
  cursor: pointer;
}

#resultStats {
  display: none;
  flex-direction: column;
  gap: 0;
  margin-right: auto;
  /* align-items: center; */
  /* justify-content: center; */
}

#statsTitle {
  align-self: center;
}

#scrambledWords,
#scannedWords,
#numOfCharScrambled,
#operationTime {
  display: flex;
  align-items: center;
}

#words,
#scramWords,
#characters,
#time {
  color: brown;
  font-family: "Pathway Gothic One", sans-serif;
}
